@font-face {
  font-family: 'lg';
  src: url("assets/fonts/lg.ttf?22t19m") format("truetype"), url("assets/fonts/lg.woff") format("woff"), url("assets/fonts/lg.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}