:root {
  --gutter: 2rem;
}
@media (min-width: 75em) {
  :root {
    --gutter: calc((100vw - 120rem) / 2);
  }
}

html {
  font-size: 62.5%;
  min-height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  height: 100%;
  background-color: #1e1e1e;
  color: #dcdcdc;
}
body.menu-active {
  overflow: hidden;
}

a {
  color: #dcdcdc;
  text-underline-offset: 0.3rem;
  text-decoration-thickness: 0.05rem;
}

.layout-container {
  padding: 0 1.6rem;
}

main {
  max-width: 140rem;
  margin: auto;
  padding: 3.2rem 0;
}

.toolbar-tray-open {
  --toolbar-height: 7.9rem;
}

.layout-content {
  padding-bottom: 4rem;
}
@media (min-width: 60em) {
  .layout-content {
    padding-bottom: 8rem;
  }
}

.js img.lazyload:not([src]) {
  visibility: hidden;
}

.js img.lazyloaded[data-sizes=auto] {
  display: block;
  width: 100%;
}

.js .lazyload,
.js .lazyloading {
  opacity: 0;
}

.js .lazyloaded {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 3.9rem;
}

h3 {
  font-size: 3.3rem;
}

h4 {
  font-size: 2.7rem;
}

h5 {
  font-size: 2.3rem;
}

h6 {
  font-size: 1.9rem;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul,
ol {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  padding: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
select, input {
  border: 0;
  background-color: #3f3f3f;
  color: #dcdcdc;
  padding: 0.6rem 1rem;
  font-size: 1.6rem;
  border-radius: 0.4rem;
  min-width: 15rem;
  outline-color: #2f2b3a;
  outline-width: 0.2rem;
}
select::placeholder, input::placeholder {
  color: #dcdcdc;
  opacity: 1;
}

select {
  appearance: none;
}

.js-form-type-select {
  position: relative;
}
.js-form-type-select::after {
  content: "";
  font-size: 1rem;
  top: 50%;
  right: 1rem;
  position: absolute;
  transform: translateY(-50%);
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;stroke:%23FFF;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;%7D%3C/style%3E%3C/defs%3E%3Cline class='cls-1' x1='16' x2='7' y1='20.5' y2='11.5'/%3E%3Cline class='cls-1' x1='25' x2='16' y1='11.5' y2='20.5'/%3E%3C/svg%3E%0A");
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

[type=submit] {
  cursor: pointer;
  background-color: #2f2b3a;
}

.form-item {
  display: flex;
  align-items: center;
  position: relative;
}

.field-scan-btn {
  all: unset;
  cursor: pointer;
  padding: 0.6rem 1rem;
  background-color: #1e1e1e;
  border-radius: 0.4rem;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cstyle%3E.cls-1,.cls-2%7Bfill:none;%7D.cls-2%7Bstroke:%23fff;stroke-linecap:round;stroke-linejoin:round;%7D%3C/style%3E%3C/defs%3E%3Cg data-name='Layer 2'%3E%3Crect class='cls-1' width='24' height='24'/%3E%3Cpath class='cls-2' d='M9,6H7A1,1,0,0,0,6,7V9'/%3E%3Cpath class='cls-2' d='m15 6h2a1 1 0 0 1 1 1v2'/%3E%3Cpath class='cls-2' d='m18 15v2a1 1 0 0 1-1 1h-2'/%3E%3Cpath class='cls-2' d='M9,18H7a1,1,0,0,1-1-1V15'/%3E%3Cline class='cls-2' x1='6' x2='18' y1='12' y2='12'/%3E%3C/g%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  text-indent: -999rem;
  height: 1.8rem;
  width: 1.8rem;
  position: absolute;
  top: 50%;
  right: 0.4rem;
  transform: translateY(-50%);
}

#edit-field-barcode-value {
  padding-right: 4.8rem;
}

@font-face {
  font-family: "lg";
  src: url("assets/fonts/lg.ttf?22t19m") format("truetype"), url("assets/fonts/lg.woff") format("woff"), url("assets/fonts/lg.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.site-header {
  max-width: 140rem;
  margin: auto;
  padding: 1.6rem 0;
  display: flex;
  justify-content: space-between;
  gap: 1.6rem;
  align-items: center;
}
.site-header .site-header__logo {
  position: relative;
  width: 6rem;
  height: 3rem;
  text-indent: -999rem;
}
.site-header .site-header__logo::after {
  content: "";
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 8rem;
  height: 6rem;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg enable-background='new 0 0 90 90' fill='%23dcdcdc' version='1.1' viewBox='0 0 90 112.5' xml:space='preserve' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m18.96 24.92-6.5298 9.2744c-0.014709 0.020935-0.018921 0.045593-0.031799 0.067261-0.02594 0.043091-0.044617 0.087891-0.063904 0.13513-0.029358 0.072144-0.05011 0.1438-0.061951 0.21936-0.004272 0.026794-0.019409 0.048767-0.021545 0.076294l-1.1455 14.648c-0.025391 0.32715 0.11133 0.64648 0.36572 0.85352l19.231 15.662c0.016602 0.013611 0.036743 0.021423 0.054138 0.033875 0.029358 0.020813 0.059021 0.039063 0.090271 0.05658 0.048401 0.027283 0.098206 0.049683 0.15051 0.068481 0.032837 0.011841 0.064941 0.02301 0.098938 0.031372 0.019043 0.0047 0.036499 0.01416 0.055847 0.0177l23.322 4.3057c0.029663 0.005249 0.059265 0.00531 0.088989 0.008118 0.007141 6.71e-4 0.012756 0.005005 0.019897 0.005554 0.024292 0.001892 0.048157 0.002869 0.072021 0.002869 2.44e-4 0 4.88e-4 6.1e-5 7.32e-4 6.1e-5 6.1e-5 0 6.1e-5 -6.1e-5 1.22e-4 -6.1e-5 2.44e-4 0 6.1e-4 6.1e-5 8.54e-4 6.1e-5 0.14014 0 0.27173-0.033325 0.3938-0.086304 0.035034-0.015137 0.0625-0.041443 0.095703-0.060547 0.084534-0.048828 0.16266-0.10303 0.22949-0.17383 0.011963-0.012695 0.029358-0.017517 0.040771-0.030884l23.241-27.251c0.1543-0.18066 0.23926-0.41016 0.23926-0.64844v-7.2832c0-0.00885-0.004761-0.016113-0.005005-0.024902-3.66e-4 -0.016296 0.003723-0.031982 0.002563-0.04834-0.007446-0.10156-0.034668-0.19775-0.070923-0.29004-0.00885-0.022644-0.020447-0.042419-0.030884-0.064209-0.043762-0.091492-0.099304-0.1756-0.16852-0.24994-0.01123-0.012024-0.019348-0.025818-0.031189-0.037292-0.064453-0.062805-0.13605-0.1189-0.21704-0.16321l-26.105-14.239c-0.19287-0.10449-0.41162-0.14258-0.62988-0.11035l-32.014 4.8828c-0.26904 0.041015-0.50976 0.18945-0.66699 0.41211zm-5.8198 24.055 0.9248-11.822 7.4989 8.2352 7.1794 16.295-15.603-12.708zm40.599 19.226-21.704-4.0068-7.9352-18.01 30.803 6.0106-1.1643 16.007zm23.157-26.433-21.022 24.649 1.0554-14.508 19.967-15.05v4.9087zm-25.288-20.115 24.447 13.335-20.336 15.329-32.789-6.3984-8.4028-9.2275 5.8228-8.2705 31.259-4.7676z'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.site-header__menu ul {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.site-header__menu a {
  padding: 0.4rem;
}

.site-footer {
  padding: 1.6rem 0;
  max-width: 140rem;
  margin: auto;
  font-size: 1.4rem;
}

.products-table table,
.types-table table {
  width: 100%;
  border-collapse: collapse;
  border-bottom: 0.1rem solid rgba(220, 220, 220, 0.2);
}
.products-table thead,
.types-table thead {
  text-align: left;
}
.products-table th, .products-table td,
.types-table th,
.types-table td {
  padding: 0.8rem 1.6rem;
}
.products-table thead,
.types-table thead {
  background-color: #1b1b1b;
}
.products-table tr,
.types-table tr {
  border-top: 0.1rem solid rgba(220, 220, 220, 0.2);
  position: relative;
}
.products-table tr:hover,
.types-table tr:hover {
  background-color: #1b1b1b;
}
.products-table .views-field-title a::after,
.types-table .views-field-title a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.products-table nav,
.types-table nav {
  width: fit-content;
  margin-top: 3.2rem;
  margin-left: auto;
  margin-right: auto;
}
.products-table nav ul,
.types-table nav ul {
  display: flex;
  gap: 1.6rem;
}
.products-table nav li,
.types-table nav li {
  display: grid;
  place-content: center;
}
.products-table nav a,
.types-table nav a {
  width: 4rem;
  height: 4rem;
  display: grid;
  place-content: center;
  text-decoration: unset;
  border: solid 0.1rem rgba(166, 136, 250, 0.2);
  border-radius: 0.4rem;
  transition: background-color 0.2s ease;
}
.products-table nav a:hover,
.types-table nav a:hover {
  background-color: rgba(166, 136, 250, 0.2);
}

.view-page > * + * {
  margin-top: 2rem;
}

.view-page__title {
  font-weight: 600;
}

.view-page__filters input, .view-page__filters select {
  width: 20rem;
}
.view-page__filters .form-actions {
  display: flex;
  gap: 2rem;
}

.view-page__filters label {
  display: none;
}
.view-page__filters form {
  display: flex;
  gap: 2rem;
}

.product-content {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 4rem;
}

.product-content__details {
  grid-column: 1/6;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.product-content__gallery {
  grid-column: 6/13;
  overflow: hidden;
  position: relative;
}
.product-content__gallery img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.swiper-btn-next,
.swiper-btn-prev {
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 100%;
  position: absolute;
  left: 2rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: -0.1rem center;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;%7D%3C/style%3E%3C/defs%3E%3Cg data-name='Layer 2'%3E%3Cpath d='M20,25a1,1,0,0,1-.71-.29l-8-8a1,1,0,0,1,0-1.42l8-8a1,1,0,1,1,1.42,1.42L13.41,16l7.3,7.29a1,1,0,0,1,0,1.42A1,1,0,0,1,20,25Z'/%3E%3C/g%3E%3Crect class='cls-1' width='32' height='32'/%3E%3C/svg%3E%0A");
}

.swiper-button-disabled {
  visibility: hidden;
}

.swiper-btn-next {
  left: unset;
  right: 2rem;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;stroke:%23000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;%7D%3C/style%3E%3C/defs%3E%3Cline class='cls-1' x1='21' x2='12' y1='16' y2='25'/%3E%3Cline class='cls-1' x1='12' x2='21' y1='7' y2='16'/%3E%3C/svg%3E%0A");
  background-position: 0.1rem center;
}

.detail {
  padding-top: 0.5rem;
  padding-bottom: 0.25rem;
  border-bottom: 0.1rem solid rgba(220, 220, 220, 0.2);
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: flex-end;
}

.detail--vertical {
  flex-direction: column;
  align-items: flex-start;
}

.detail__label {
  font-size: 2.3rem;
  line-height: 1.2;
}

.detail__value {
  font-size: 3.3rem;
  line-height: 1.2;
  font-weight: 5c00;
}

.type-image-cell span {
  display: none;
}

.type-image-cell img {
  max-width: 10rem;
  max-height: 5rem;
}

.user-login-form {
  max-width: 50rem;
  margin: auto;
  margin-top: 15rem;
  margin-bottom: 15rem;
}
.user-login-form > * + * {
  margin-top: 2rem;
}
.user-login-form .form-actions {
  margin-top: 3rem;
}